<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>攻略信息查看</title>
	<meta name="renderer" content="webkit"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="format-detection" content="telephone=no"/>
	<link rel="stylesheet" href="/layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="/css/font_eolqem241z66flxr.css" media="all"/>
</head>
<body class="childrenBody">
	<form class="layui-form"  action="/manager/scenicSpotSave" method="post">
		<input th:value="${entity.id}" id="id" name="id" type="hidden"/>




		<div class="layui-form-item">
			<label class="layui-form-label">标题</label>
			<div class="layui-input-block">
				<input readonly="readonly" th:value="${entity.title}" id="title" name="title" type="text" class="layui-input newsName" lay-verify="required" placeholder="请输入攻略标题"/>
			</div>
		</div>


		<div class="layui-form-item" th:if="${entity.imgUrl != null}">
			<label class="layui-form-label">攻略封面</label>
			<div class="layui-input-block">
				<img th:src="${entity.imgUrl}" width="300">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">推荐指数</label>
			<div class="layui-input-block">
				<input type="radio" th:disabled="${entity.rating!=1?'disabled':'false'}" th:checked="${entity.rating==1?'checked':'false'}" name="rating" value="1" title="不太推荐"/>
				<input type="radio" th:disabled="${entity.rating!=2?'disabled':'false'}" th:checked="${entity.rating==2?'checked':'false'}" name="rating" value="2" title="勉强推荐"/>
				<input type="radio" th:disabled="${entity.rating!=3?'disabled':'false'}" th:checked="${entity.rating==3?'checked':'false'}" name="rating" value="3" title="可以推荐"/>
				<input type="radio" th:disabled="${entity.rating!=4?'disabled':'false'}" th:checked="${entity.rating==4?'checked':'false'}" name="rating" value="4" title="值得推荐"/>
				<input type="radio" th:disabled="${entity.rating!=5?'disabled':'false'}" th:checked="${entity.rating==5?'checked':'false'}" name="rating" value="5" title="非常推荐"/>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">简介</label>
			<div class="layui-input-block">
				<textarea class="layui-textarea"  readonly="readonly" th:text="${entity.summary}" id="summary" name="summary" lay-verify="required" placeholder="请输入简介">			</div>
		</div>
		<div class="layui-form-item" th:if="${entity.introUrl != null}">
			<label class="layui-form-label">内容图片</label>
			<div class="layui-input-block">
				<img th:src="${entity.introUrl}" width="300">
			</div></div>

		<div class="layui-form-item">
			<label class="layui-form-label">状态</label>
			<div class="layui-input-inline">
				<select disabled="disabled" id="state" name="state" class="newsLook" lay-filter="browseLook">
					<option th:selected="${entity.state==0?'selected':'false'}" value="0">待发布</option>
					<option th:selected="${entity.state==1?'selected':'false'}" value="1">发布</option>
					<option th:selected="${entity.state==2?'selected':'false'}" value="2">撤销</option>
				</select>
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-input-block">
				<a class="layui-btn" th:href="@{/manager/strategyList}">返回</a>
			</div>
		</div>
	</form>
	<script type="text/javascript" src="/layui/layui.js"></script>
	<script type="text/javascript" src="/js/strategy/strategyEdit.js"></script>
</body>
</html>