<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>旅游路线</title>
	<meta name="renderer" content="webkit"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="format-detection" content="telephone=no"/>
	<link rel="stylesheet" href="/layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="/css/font_eolqem241z66flxr.css" media="all"/>
</head>
<body class="childrenBody">
	<form class="layui-form"  action="/manager/travelRouteSave" method="post" enctype="multipart/form-data">
		<input th:value="${entity.id}" id="id" name="id" type="hidden"/>
		<div class="layui-form-item">
			<label class="layui-form-label">标题</label>
			<div class="layui-input-block">
				<input th:value="${entity.title}" id="title" name="title" type="text" class="layui-input newsName" lay-verify="required" placeholder="请输入标题"/>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">出发地</label>
			<div class="layui-input-block">
				<input th:value="${entity.startSite}" id="startSite" name="startSite" type="text" class="layui-input newsName" lay-verify="required" placeholder="请输入出发地"/>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">目的地</label>
			<div class="layui-input-block">
				<input th:value="${entity.endSite}" id="endSite" name="endSite" type="text" class="layui-input newsName" lay-verify="required" placeholder="请输入目的地"/>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">出团日期</label>
			<div class="layui-input-inline">
				<input th:value="${entity.startTime}" type="text" class="layui-input" id="startTime" name="startTime" lay-verify="date" onclick="layui.laydate({elem:this,type: 'datetime'})"/>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">结束日期</label>
			<div class="layui-input-inline">
				<input th:value="${entity.endTime}" type="text" class="layui-input" id="endTime" name="endTime" lay-verify="date" onclick="layui.laydate({elem:this,type: 'datetime'})"/>
			</div>
		</div>
		<!--<div class="layui-form-item">
			<label class="layui-form-label">天数</label>
			<div class="layui-input-block">
				<input th:value="${entity.day}" id="day" name="day" type="number" class="layui-input newsName" lay-verify="required" placeholder="请输入天数"/>
			</div>
		</div>-->
		<div class="layui-form-item">
			<label class="layui-form-label">价格</label>
			<div class="layui-input-block">
				<input th:value="${entity.price}" id="price" name="price" type="text" class="layui-input newsName" lay-verify="required" placeholder="请输入价格"/>
			</div>
		</div>
		<!--<div class="layui-form-item">
			<label class="layui-form-label">产品编号</label>
			<div class="layui-input-block">
				<input th:value="${entity.productCode}" id="productCode" name="productCode" type="text" class="layui-input newsName" lay-verify="required" placeholder="请输入产品编号"/>
			</div>
		</div>-->
		<div class="layui-form-item" th:if="${entity.imgUrl != null}">
			<label class="layui-form-label">图片</label>
			<div class="layui-input-block">
				<img th:src="${entity.imgUrl}" width="300">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">选择图片</label>
			<div class="layui-input-block">
				<input type="file" name="fileName">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">路线简介</label>
			<div class="layui-input-block">
				<textarea class="layui-textarea" th:text="${entity.intro}" id="intro" name="intro" lay-verify="content" placeholder="请输入路线简介"></textarea>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">状态</label>
			<div class="layui-input-inline">
				<select id="state" name="state" class="newsLook" lay-filter="browseLook">
					<option th:selected="${entity.state==0?'selected':'false'}" value="0">待发布</option>
					<option th:selected="${entity.state==1?'selected':'false'}" value="1">发布</option>
					<option th:selected="${entity.state==2?'selected':'false'}" value="2">撤销</option>
				</select>
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" type="submit" lay-submit="">保存</button>
				<a class="layui-btn" th:href="@{/manager/travelRouteList}">返回</a>
				<button type="reset" class="layui-btn layui-btn-primary">重置</button>
			</div>
		</div>
	</form>
	<script type="text/javascript" src="/layui/layui.js"></script>
	<script type="text/javascript" src="/js/travelRoute/travelRouteEdit.js"></script>
</body>
</html>