<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>注意事项</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="css/common.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="top_hw clearfix">
    <div class="top_h clearfix">
        <div class="top_hl"><span>欢迎来到中国梦想游，让你的梦想全程免费自由行！</span> 预定热线：<b>0571-63322269</b></div>
        <div class="top_hr"><a th:if="${session.userName==null}" th:href="@{/register}">会员注册</a>  |  <span th:if="${session.userName!=null}" th:text="'欢迎你，'+${session.userName}"></span><a th:if="${session.userName==null}" th:href="@{/goLogin}">登录</a>  |  <a th:if="${session.userName!=null}" th:href="@{/goLogout}">退出</a></div>
    </div>
</div>
<div class="head_w">
    <div class="head_t clearfix">
        <div class="logo"><img src="images/logo.jpg"/></div>
        <div class="rx_line"><img src="images/rx.jpg"/></div>
    </div>
</div>
<div class="mainNav clearfix">
    <ul class="Nav_ul">
        <li><a th:href="@{/index}">首页</a><img src="images/nav_line.jpg"/></li>
        <li><a th:href="@{/travelRoute}">旅游路线</a><img src="images/nav_line.jpg"/></li>
        <li><a th:href="@{/travelSpot}">旅游景点</a><img src="images/nav_line.jpg"/></li>
        <li   ><a th:href="@{/hotelAccommodation}">餐饮住宿</a><img src="images/nav_line.jpg"/></li>
        <li ><a th:href="@{/car}">旅游车票</a><img src="images/nav_line.jpg"/></li>
        <li ><a th:href="@{/insurance}">旅游保险</a><img src="images/nav_line.jpg"/></li>
         <li ><a th:href="@{/strategy}">旅游攻略</a><img src="images/nav_line.jpg"/></li>
         <li class="cur"><a th:href="@{/attention}">注意事项</a><img src="images/nav_line.jpg"/></li>
        <li th:if="${session.userName!=null}"><a th:href="@{/userCenter}">会员中心</a><img src="images/nav_line.jpg"/></li>
    </ul>
</div>
<div class="b_wrap">
    <div class="current"><span>当前所在地：</span><a th:href="@{/index}">首页</a> >> <a th:href="@{/attention}">注意事项</a> </div>
    <div class="clumn_w clearfix">


   <center>     <h2>出行安全提示</h2></center>

        <strong>为了增强游客安全意识，普及旅游安全基本常识，使游客参加活动的计划圆满、愉快、顺利地完成，请认真阅读本须知并严格履行，防止意外事件。</strong>
        <br>
        <br><strong>一、旅游者不适合参加旅游活动的情形：</strong>
        <br>1、旅游者须确保自身身体情况适宜参加该旅游。为了确保行程顺利出行，防止旅途中发生人身意外伤害事故，请旅游者在出行前做一次必要的身体检查，如存在下列健康问题的病患者，请勿报名。如隐瞒真实情况报名参加春秋旅游网上的旅游产品，发生事故的，责任由旅游者自行承担，敬请知悉。：
        <br>（1）传染性疾病患者，如传染性肝炎、活动期肺结核、伤寒等传染病人；
        <br>（2）心血管疾病患者，如严重高血压、心功能不全、心肌缺氧、心肌梗塞等病人；
        <br>（3）脑血管疾病患者，如脑栓塞、脑出血、脑肿瘤等病人；
        <br>（4）呼吸系统疾病患者，如肺气肿、肺心病等病人；
        <br>（5）精神病患者，如癫痫及各种精神病人；
        <br>（6）严重贫血病患者，如血红蛋白量水平在 50 克 / 升以下的病人；
        <br>（7）大中型手术的恢复期病患者；
        <br>（8）孕妇及行动不便者。
        <br>2、游客（特别是中老年人或有特殊病症者）应认真考虑自身身体状况，有选择地参加景点游览。参加项目，应量力而行，以当时的身体健康实际状况为前提，在选择参加如潜水、登山等高风险项目时应特别慎重。如旅游活动中身体不适，请立即停止相关活动。
        <br>由于各地沙滩、海水情况各不相同，旅行社不建议游客参加游泳活动。如游客自行决定下海游泳，需视体力、技能情况量力而行，旅行社建议您租用或购买救生衣，禁止单独游泳、禁止酒后游泳、禁止在警戒范围外游泳。在室内游泳池游泳时，切忌跳水，游泳后勿食水果等。
        <br>
        <br><strong>二、个人财产安全注意事项：</strong>
        <br>（一）证件安全
        <br>1、护照、身份证、信用卡、机车船票及文件等身份证明和凭据，必须随身携带，妥善保管。
        <br>2、.出境旅游时建议将上述证件复印，一份留在家中，一份连同几张标准(二寸彩色白底照片)证件照片随身携带，以备急用。
        <br>3、遇到检查证件时，请勿轻易应允，要有礼貌地请对方出示其身份或工作证件，否则拒绝接受检查。
        <br>4、证件一旦遗失或被偷被抢，要立即向警方报案，同时请警方出具书面遗失证明。出境游客要向目的地相关机构申请补发签证，向我国驻当地使（领）馆等机构申请补办旅行证件。
        <br>（二）财物安全
        <br>1、请保管好自己的证件和贵重物品，请勿把现金和贵重物品放在托运行李、外衣口袋或易被割破的手提包中。
        <br>2、请勿将现金和贵重物品放在宾馆房间或旅游车中。
        <br>3、在转机、转车人多拥挤时，请注意清点行李物品，防止遗失。
        <br>4、不让也不要帮不相识的人看管或托运行李。
        <br>5、发现钱物丢失或被偷盗，要立即报警。
        <br>
        <br><strong>三、交通安全注意事项：</strong>
        <br>（一）乘坐飞机，旅游车
        <br>1、乘坐飞机时，请注意飞行安全，系好安全带，不带危险或易燃品，全程关闭手机，起飞和降落时不使用其他电子设备。
        <br>2、在机、车停稳后方可上下机、车。并按机场、车站安全管理规定或指示标志通行及排队上下机、车；讲究文明礼貌，先照顾老人、儿童、妇女；切勿拥挤，以免发生意外。请勿携带违禁物品。
        <br>3、在乘车途中，请勿与司机交谈或催促司机，违章超速和超车行驶；请勿将头、手、脚或行李物品伸出窗外，以防意外发生。
        <br>4、下车浏览、就餐、购物时，请注意关好旅游车窗，随身携带贵重物品；以防遗失或被盗。
        <br>5、在国外乘坐旅游车时，请勿乘坐第一排的工作人员专座，此专座只有工作人员保险，旅游者乘坐发生意外得不到赔偿，在车辆行驶过程中请全程配戴安全带，请勿在车厢内擅自站立、行走等，请勿做出任何危险性动作。
        <br>6、发生交通事故时请勿惊慌，请采取自救和互救措施，保护事故现场，并迅速向警方报告。
        <br>
        <br>（二）租车自驾
        <br>1、自由行游客，如需在境外自驾游需要持有“国际驾照认证件”才可在境外租车自驾。
        <br>2、请遵守当地的交通法规，注意安全，注意来往车辆，请勿到偏僻地方。
        <br>3、驾车全程中均须系好安全带。
        <br>4、事故发生后，请及时报警等候当地警方处理、并向保险公司报案。如遇紧急情况，请拨打保险公司紧急救援电话。
        <br>
        <br>（三）乘坐快船、快艇
        <br>1、请在游船或快艇完全停止的状态时上下船，注意脚下安全，避免踏空。注意水下礁石避免滑到摔伤。请自备防水袋，防止贵重物品掉落水中。
        <br>2、由于海上风浪大等原因，有身孕的和心脏疾病的旅游者请勿搭乘快艇。45岁以上游客，请勿坐在快艇船头。高血压、恐高症、以及脊椎，腰椎有伤病的旅游者，以及儿童、老年（超过65周岁）旅游者不适于乘坐快艇上海岛，避免发生意外事件。如坚持上船，请根据当地规定签订“安全告知书”。
        <br>3、乘坐游船或快艇出海时，请听从工作人员安排，严格遵守穿救生衣的规定，且应全程穿着，如船方未提供救生衣，则应主动要求。请勿在快艇上抽烟。快艇开动时请勿站立或走动，请勿将手或脚放置船边，以免受伤。
        <br>4、乘坐游艇及水上摩托车，请勿跨越安全水域，旅游者请勿在水上摩托车、快艇、拖曳伞等水上活动范围区内游泳。水边戏水时，请勿超过安全警戒线范围且务必穿好救生衣；请勿靠近快艇的螺旋桨，避免意外发生。
        <br>
        <br><strong>四、饮食安全注意事项：</strong>
        <br>1、在旅游地购买食物需注意商品质量，请勿购买“三无”（无生产厂、生产日期、厂家地址）商品，发现食物不卫生或有异味变质的情况，切勿食用。
        <br>2、出门旅游，请随身携带饮用水，请勿喝生水和不洁净之水。
        <br>3、坚持饭前便后洗手的习惯，不吃过期或不洁净的饭菜瓜果，尽量不自带生鲜水果或无真空包装食品，避免不能通过海关检疫。
        <br>4、请勿随意接受和食用陌生人赠送的香烟、食物和饮品。
        <br>5、做好预防措施，为防止在旅途中水土不服，请自备一些常用药品以备不时之需。切勿随意服用他人所提供之药品，患病后请及时到医院就诊。出境旅游要慎重选择携带个人药品，出境前请了解有关国家和地区的海关规定，在允许的范围内选择携带药品的种类和数量，如因治疗自身疾病必须携带某种药品，应请医生开具处方，并备齐药品外文说明书和购药发票。
        <br>6、行程用餐（包括自理餐）过程中请谨慎饮酒，患有心脑血管疾病、高血压、呼吸道疾病等的游客请勿饮酒，以免给您的身体带来严重损伤。
        <br>7、游客品尝当地美食，请根据自身身体情况而定，注意饮食饮水卫生，切勿暴饮暴食。请挑干净新鲜的食材食用，防止发生食物中毒。食用海鲜时，建议不要饮用冰啤酒、冰水或吃过凉食物，以防发生腹泻等疾病。
        <br>
        <br>
        <br><strong>五、住宿安全注意事项：</strong>
        <br>1、游客入住酒店后，请了解酒店安全须知，熟悉酒店的安全通道、安全出路、安全楼梯的位置安全转移的路线，进出宾馆房间请随时关门锁门，离开宾馆时把钥匙交给总台。
        <br>2、请注意检查酒店所配备的用品（卫生间防滑垫等）是否齐全，有无破损，如有不全或破损，请立即向酒店服务员或导游报告。如因当地条件所限，未能配备，请游客小心谨慎，防止发生意外。（如浴室内无防滑垫，洗澡时请特别注意安全，防止滑倒；老人冬季洗澡时间不宜过长。）
        <br>3、请仔细辨别酒店、客房内的物品是否为有价物品。除客房内一次性用品外，酒店物品请勿随意带走或损坏。
        <br>4、贵重物品应存放于酒店服务总台保险柜或自行妥善保管，外出时请勿放在房间内，防止丢失。
        <br>5、使用客房内收费物品或收费电视等，请看清价格后再使用。
        <br>6、请勿将自己住宿的酒店、房号随便告诉陌生人；如有人敲门，请勿贸然开门，请勿让陌生人或自称酒店的维修人员随便进入房间；出入房间要锁好房门，睡觉前注意房门窗是否关好，保险锁是否锁上；物品最好放于身边，请勿放在靠窗处，不明电话请立即挂断。
        <br>7、请在酒店总台领取上有酒店地址、电话的卡片或抄写酒店地址或电话，以备不时之用。
        <br>8、请正确使用房间电器等设施，请勿在灯罩、空调等处烘烤衣物，注意在卫生间防滑。
        <br>9、请勿在床上吸烟。
        <br>10、遇紧急情况请勿慌张。发生火警时不要搭乘电梯或随意跳楼；镇定地判断火情，主动地实行自救。若身上着火，可就地打滚，或用重衣物压火苗；必须穿过有浓烟的走廊、通道时，用浸湿的衣物披裹身体，掩捂口鼻，贴近地、顺墙爬走；大火封门无法逃出时，可采用浸湿的衣物披裹身体被褥堵门缝或泼水降温的办法等待救援或摇动色彩鲜艳的衣物呼唤救援人员。
        <br>11、在宾馆的健身房和游泳池锻炼时，请注意自我保护。
        <br>12、退房时，请检查所携带的行李物品，特别注意证件和贵重物品及眼镜、充电器等小型物品。
        <br>

        <br>
        <br><strong>六、游览观光安全注意事项：</strong>
        <br>1、必需遵守旅游景点相关规定，禁止吸烟、随地吐痰、乱扔垃圾和随意进入非参观游览区内拍照等不良行为。
        <br>2、请勿攀爬高处，既要防止跌落受伤，同时也要预防脚被尖锐物扎伤或被山区蛇虫咬伤;经过高处或钢索栈道时，请扶好栏杆或钢索;不要拥挤追逐，小心踏空;经过台阶和狭窄、路滑地段，谨防跌倒;如经过有正在施工地段，需保持安全距离，走安全通道，同时做好防护工作。
        <br>3、若景区因恶劣天气、文物维修、设备检修、特殊活动、不可抗力等因素取消参观、放映、表演、展出等活动的，请给予理解并配合。
        <br>4、景区狭窄路段请慢行，以防因拥挤而造成意外事故；请勿在水域附近戏水。
        <br>5、在景区内游览，拍照，摄影时请注意景区的安全提示标志和工作人员的提醒，请勿在设有危险警示的地方停留。
        <br>6、带孩子的游客，请管好小孩，注意安全。
        <br>7、野生动物安全须知：
        <br>a、为了保障您的生命财产安全，进入园区后请听从向导安排。
        <br>b、在野外观察时请尽量保持安静以免惊扰动物，请不要投喂食物给动物。
        <br>c、在野外要保护自然环境，不伤害野生动物，不破坏自然植被，不污染水源，不乱扔垃圾。
        <br>d、如被动物咬伤或抓伤，请及时到医院就诊避免感染、甚至破伤风等。
        <br>8、当发生安全事故、伤病或其它需寻求帮助的情况时，请速与景区工作人员联系。
        <br>9、慎重参加带有刺激性、危险性的活动项目，量力而行，提高自我保护意识，服从安全人员的指挥
        <br>10、请勿到赌场和色情场所消费。
        <br>11、夜间自由活动结伴而行，请勿乘坐无标志的车辆，不要围观交通事故、街头纠纷，不要晚归。
        <br>
        <br><strong>七、购物安全注意事项：</strong>
        <br>1、购物时请保管好随身携带的物品，不到人多、拥挤的地方购物，请不要将大量的现金放在手提包里，装有现金的钱夹应放在上衣里面贴胸的口袋里，以防被窃。
        <br>2、在试衣试鞋时，建议请同行好友陪同和看管物品。
        <br>3、购物时请勿当众清点钱包里的钞票。
        <br>4、请细心鉴别商品真伪，不要急于付款购物。购物时应向商家索取正式发票。
        <br>


        <br>


    </div>
</div>
<!--<div class="footer1">
     <center ><p><font style="color: #0C0C0C;font-size: medium;text-align: center;display: table-cell;vertical-align: middle" > crved.</font></p></center>
</div>
<style>
     .footer1{

          height: 30px;

          width: 100%;

          background-color: #ddd;

          position: fixed;

          bottom: 0;

     }
</style>-->
<!--<div class="footer_w">
    <div class="footer clearfix">
        <div class="footer_c">
            <p>地址：东莞理工学院 &nbsp;| &nbsp;服务热线：13559778312 &nbsp; | &nbsp;传真：13559778312  备案号：13559778312</p>
            <p> 中国梦想旅游发展有限公司 All Rights Reserved. 技术支持：<a href="#">东莞理工学院</a></p>
        </div>
        <div class="f_logo"><img src="images/b_logo.jpg"/></div>
    </div>
</div>-->
</body>
</html>
