<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>中国梦想游--旅游景点页</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/common.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
<script type="text/javascript"> 
    $(function(){
        var wweya_li =$("div.tab_menu ul li");
        wweya_li.click(function(){
        $(this).addClass("selected")            
         .siblings().removeClass("selected");  
            var index =  wweya_li.index(this); 
        $("div.tab_box > div")  
        .eq(index).show(100)   
            .siblings().hide(); 
                }).hover(function(){
            $(this).addClass("hover");
        },function(){
            $(this).removeClass("hover");           
        });
    });
</script>
</head>
<body>
<div class="top_hw clearfix">
    <div class="top_h clearfix">
        <div class="top_hl"><span>欢迎来到中国梦想游，让你的梦想全程免费自由行！</span> 预定热线：<b>0571-63322269</b></div>
        <div class="top_hr"><a th:if="${session.userName==null}" th:href="@{/register}">会员注册</a>  |  <span th:if="${session.userName!=null}" th:text="'欢迎你，'+${session.userName}"></span><a th:if="${session.userName==null}" th:href="@{/goLogin}">登录</a>  |  <a th:if="${session.userName!=null}" th:href="@{/goLogout}">退出</a></div>
    </div>
</div>
<div class="head_w">
    <div class="head_t clearfix">
        <div class="logo"><img src="images/logo.jpg"/></div>
        <div class="rx_line"><img src="images/rx.jpg"/></div>
    </div>
</div>
<div class="mainNav clearfix">
    <ul class="Nav_ul">
        <li><a th:href="@{/index}">首页</a><img src="images/nav_line.jpg"/></li>
        <li><a th:href="@{/travelRoute}">旅游路线</a><img src="images/nav_line.jpg"/></li>
        <li class="cur"><a th:href="@{/travelSpot}">旅游景点</a><img src="images/nav_line.jpg"/></li>
        <li><a th:href="@{/hotelAccommodation}">餐饮住宿</a><img src="images/nav_line.jpg"/></li>
        <li ><a th:href="@{/car}">旅游车票</a><img src="images/nav_line.jpg"/></li>
        <li ><a th:href="@{/insurance}">旅游保险</a><img src="images/nav_line.jpg"/></li>
        <li ><a th:href="@{/strategy}">旅游攻略</a><img src="images/nav_line.jpg"/></li>
        <li><a th:href="@{/attention}">注意事项</a><img src="images/nav_line.jpg"/></li>
        <li th:if="${session.userName!=null}"><a th:href="@{/userCenter}">会员中心</a><img src="images/nav_line.jpg"/></li>
    </ul>
</div>
<div class="b_wrap">
    <div class="current"><span>当前所在地：</span><a th:href="@{/index}">首页</a> >> <a th:href="@{/travelSpot}">旅游景点</a>>> <a href="#">景点详情</a> </div>
    <div class="clumn_w clearfix">
        <div class="clumn_l">
            <div class="clumn">
                <div class="clumn_tit t01">旅游景点</div>
                <div class="clumn_con">
                    <div class="cln_w">
                        <p>热门景点</p>
                        <div class="cln_c clearfix">
                            <a href="https://baike.baidu.com/item/%E9%95%BF%E5%9F%8E/14251" target="_blank">长城</a>
                            <a href="https://baike.baidu.com/item/%E5%85%B5%E9%A9%AC%E4%BF%91/60649" target="_blank">兵马俑</a>
                            <a href="https://baike.baidu.com/item/%E8%A5%BF%E6%B9%96/4668821" target="_blank">杭州西湖</a>
                            <a href="https://baike.baidu.com/item/%E7%8F%A0%E7%A9%86%E6%9C%97%E7%8E%9B%E5%B3%B0/3058" target="_blank">珠穆朗玛峰</a>
                            <a href="https://baike.baidu.com/item/%E6%A1%82%E6%9E%97%E5%B1%B1%E6%B0%B4/5583" target="_blank">桂林山水</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clumn_r">
            <div class="tc_tit" th:text="${entity.spotName}"></div>
            <div class="xq_wrap clearfix">
                <div class="xq_left"><img th:src="${entity.imgUrl}" width="600px" height="400px"/></div>

            </div>
            <div class="xq_wrap">
              <div class="tab_menu xq_menu">
                <ul class="xq_ul">
                    <li class="selected">景点介绍</li>
                </ul>
              </div>

                    <div class="xq_detail">
                        <p th:if="${entity.spotStar==1}">景点等级：A</p><p></p>
                        <p th:if="${entity.spotStar==2}">景点等级：AA</p><p></p>
                        <p th:if="${entity.spotStar==3}">景点等级：AAA</p><p></p>
                        <p th:if="${entity.spotStar==4}">景点等级：AAAA</p><p></p>
                        <p th:if="${entity.spotStar==5}">景点等级：AAAAA</p><p></p>
                        <p th:text="'景点地址：'+${entity.spotAddress}"></p><p></p>
                        <p th:text="'开放时间：'+${entity.openTime}"></p><p></p>
                        <p th:text="'门票价格：￥'+${entity.ticketsMessage}"></p><p></p><p>
                        <p th:text="'景点简介：'+${entity.spotIntro}"></p><p></p>
                    </div>
                    <div class="xq_button">
                        <a th:if="${session.userName!=null}" th:href="@{/travelSpotCreatOrder(id=${entity.id})}">
                            <img src="images/order_button.jpg"/></a>
                        <p th:if="${session.userName==null}"><font color="red">预定请先登陆</font></p>
                        <p th:if="${CreatSuccess==true}"><font color="red">预定成功，请前往会员中心-我的订单查看订单</font></p></div>
                    <!--<div class="share">
                        <div class="bshare-custom"><strong>分享到&nbsp;&nbsp;</strong><a title="分享到QQ空间" class="bshare-qzone"></a><a title="分享到新浪微博" class="bshare-sinaminiblog"></a><a title="分享到人人网" class="bshare-renren"></a><a title="分享到腾讯微博" class="bshare-qqmb"></a><a title="分享到网易微博" class="bshare-neteasemb"></a><a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a><span class="BSHARE_COUNT bshare-share-count">0</span></div>
                    </div>-->
                <!--</div>-->


            </div>
        </div>
    </div>
</div>

<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=3&amp;lang=zh"></script>
<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
</body>
</html>
