<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>景点信息查看</title>
	<meta name="renderer" content="webkit"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="format-detection" content="telephone=no"/>
	<link rel="stylesheet" href="/layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="/css/font_eolqem241z66flxr.css" media="all"/>
</head>
<body class="childrenBody">
	<form class="layui-form"  action="/manager/scenicSpotSave" method="post">
		<input th:value="${entity.id}" id="id" name="id" type="hidden"/>
		<div class="layui-form-item">
			<label class="layui-form-label">景点名称</label>
			<div class="layui-input-block">
				<input readonly="readonly" th:value="${entity.spotName}" id="spotName" name="spotName" type="text" class="layui-input newsName" lay-verify="required" placeholder="请输入景点名称"/>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">景点等级</label>
			<div class="layui-input-block">
				<input type="radio" th:disabled="${entity.spotStar!=1?'disabled':'false'}" th:checked="${entity.spotStar==1?'checked':'false'}" name="spotStar" value="1" title="A"/>
				<input type="radio" th:disabled="${entity.spotStar!=2?'disabled':'false'}" th:checked="${entity.spotStar==2?'checked':'false'}" name="spotStar" value="2" title="AA"/>
				<input type="radio" th:disabled="${entity.spotStar!=3?'disabled':'false'}" th:checked="${entity.spotStar==3?'checked':'false'}" name="spotStar" value="3" title="AAA"/>
				<input type="radio" th:disabled="${entity.spotStar!=4?'disabled':'false'}" th:checked="${entity.spotStar==4?'checked':'false'}" name="spotStar" value="4" title="AAAA"/>
				<input type="radio" th:disabled="${entity.spotStar!=5?'disabled':'false'}" th:checked="${entity.spotStar==5?'checked':'false'}" name="spotStar" value="5" title="AAAAA"/>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">门票信息</label>
			<div class="layui-input-block">
				<input readonly="readonly" th:value="${entity.ticketsMessage}" id="ticketsMessage" name="ticketsMessage" type="text" class="layui-input newsName" lay-verify="required" placeholder="请输入门票信息"/>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">景点地址</label>
			<div class="layui-input-block">
				<input readonly="readonly" th:value="${entity.spotAddress}" id="spotAddress" name="spotAddress" type="text" class="layui-input newsName" lay-verify="required" placeholder="请输入景点地址"/>
			</div>
		</div>
		<div class="layui-form-item" th:if="${entity.imgUrl != null}">
			<label class="layui-form-label">图片</label>
			<div class="layui-input-block">
				<img th:src="${entity.imgUrl}" width="300">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">景点简介</label>
			<div class="layui-input-block">
				<textarea readonly="readonly" class="layui-textarea" th:text="${entity.spotIntro}" id="spotIntro" name="spotIntro" lay-verify="content" placeholder="请输入景点简介"></textarea>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">状态</label>
			<div class="layui-input-inline">
				<select disabled="disabled" id="state" name="state" class="newsLook" lay-filter="browseLook">
					<option th:selected="${entity.state==0?'selected':'false'}" value="0">待发布</option>
					<option th:selected="${entity.state==1?'selected':'false'}" value="1">发布</option>
					<option th:selected="${entity.state==2?'selected':'false'}" value="2">撤销</option>
				</select>
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-input-block">
				<a class="layui-btn" th:href="@{/manager/scenicSpotList}">返回</a>
			</div>
		</div>
	</form>
	<script type="text/javascript" src="/layui/layui.js"></script>
	<script type="text/javascript" src="/js/scenicSpot/scenicSpotEdit.js"></script>
</body>
</html>